<strong>Olá, {{ organizer.name }}</strong>
<p>Há um novo inscrito no seu Meetup "{{ meetup }}", no dia {{ date }}</p>
<p>
  <strong>Inscrito: </strong> {{ subscriber }} <br />
  <strong>Email do Inscrito: </strong> {{ subscriberEmail }} <br />
  <br />
  <p>
    <strong>Seu Meetup já possui um total de {{subsNumber}} inscritos!</strong>
  </p>
</p>
